{{#if logged_in}}
<div class="input-group">
    <span class="input-group-text">Comment:</span>
    <textarea class="form-control" data-blogId="{{blog_id}}"></textarea>
    <button class="btn btn-outline-secondary submit-comment" type="button">Submit</button>
</div>
{{/if}}