<div class="card row collapse" id="postForm">
    <div class="card-body col-12">
        <h5 class="card-title">Create New Blog</h5>
        <div class="input-group">
            <span class="input-group-text">Title:</span>
            <input type="text" class="form-control" id="blog-title"></input>
        </div>
        <div class="input-group">
            <span class="input-group-text">Description:</span>
            <textarea class="form-control" id="blog-description"></textarea>
            <button  type="button" class="btn btn-outline-secondary" id="submit-blog">Submit</button>
        </div>
    </div>
</div>