<div class="card row" style="width: 18rem;">
    <div class="card-body col-12">
        <h5 class="card-title">LOGIN</h5>
        <div class="mb-3">
            <label for="name" class="form-label">Username</label>
            <input type="name" class="form-control" id="userName-input" placeholder="foobar">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="">
        </div>

        <a href="#" id="login-btn" class="btn btn-secondary">Login</a>
        <a href="#" id="signup-link" data-newUser=false class="">Signup Instead</a>
    </div>
</div>
<script src="./js/login.js"></script>